@import "../../sassStyles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  padding: 0 3rem;
  margin: 3.2rem 0;

  & h3 {
    font-size: 1.8rem;
  }
}

.barsContainer {
  display: flex;
  align-items: center;

  &--text {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
  }
}
