@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  padding: 0 3rem;
  margin: 3.2rem 0;

  @include responsiveMax($phone) {
    padding: 0 1rem;
  }

  & h3 {
    font-size: 1.8rem;
    color: $grey;
    text-transform: uppercase;

    @include responsiveMax($phone) {
      font-size: 1.6rem;
    }
  }
}

.barsContainer {
  display: flex;
  align-items: center;

  &--text {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-right: 1.5rem;

    @include responsiveMax($phone) {
      font-size: 1.8rem;
      margin-right: 1rem;
    }
  }
}
