@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.password {
  background-color: $greyDark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: none;
}

.passwordInput {
  @include responsiveMin($desktop) {
    font-size: 3.2rem;
  }
  padding-right: 2rem;
  background-color: transparent;
  border: none;
  color: $white;
  width: 85%;
  font-size: 2.4rem;
}

.copyPasswordBtn {
  @include buttonAnimation($white);

  color: $green;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
