@import '../../sassStyles/variables';

.password {
  background-color: $greyDark;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.copyPasswordBtn {
  color: $green;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
