@import '../../../sassStyles/variables';

.card {
  background-color: $greyDark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.2rem;
  border: none;
}
