@import './sassStyles/variables';

@font-face {
  font-family: 'JetBrainsMono';
  src: local('JetBrainsMono')
    url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

html {
  font-size: 10px;
}

body {
  background-color: $black;
  margin: 10rem auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrainsMono', 'Courier New', monospace;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'JetBrainsMono', 'Courier New', monospace;
}
