@import '../../sassStyles/variables';
.configurator {
  width: 100%;
  text-align: left;
}
.length {
  &-label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 1.8rem;
    }

    span {
      font-size: 3.2rem;
      color: $green;
      display: inline-block;
    }
  }

  &-range {
    width: 100%;
    &::-webkit-slider-thumb {
      // background-color: red;
    }
    &::-moz-range-thumb {
      // background-color: red;
    }
  }
}
